---
  const personalImageAlt = "Jesús David";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Jesús David, un placer conocerte. Inicié mi trayectoria profesional como desarrollador de software hace mas de 4 años y actualmente <strong
        >me dedico a diseñar y construir diversas soluciones informáticas como desarrollador independiente</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Lideraré el desarrollo de componentes responsivos para sistemas ERP y CRM, optimizando los tiempos de carga y procesamiento de datos, <em class="italic">lo que redujo los tiempos de respuesta en un 40%</em>; integré RESTful APIs utilizando técnicas avanzadas como caching, lazy loading y prefetching, <em class="italic">lo que aumentó la velocidad de renderización en un 35%</em> y mejoró la eficiencia de las aplicaciones en tiempo real</strong
      >. 
    </p>

    <p>
      Ah tambien, <strong
        >implementé pruebas unitarias que redujeron en un 50% los errores recurrentes, <em class="italic">mejorando la estabilidad y confiabilidad de las aplicaciones</em>; y diseñé arquitecturas modulares y escalables para proyectos de desarrollo que <em class="italic">aumentaron la productividad de los equipos en un 25%</em>, permitiendo entregas más rápidas y eficientes</strong
      >.
    </p>
  </div>

  <img width="200" height="200" src="/me2.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

